<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Item List</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">

            <tbody>
                <tr *ngFor="let item of items._embedded">
                    <td>{{item.name}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.inventoryCode}}</td>
                    <td><button (click)="deleteitem(item.number)" class="btn btn-danger">Delete</button>
                        <button (click)="itemDetails(item.number)" class="btn btn-info" style="margin-left: 10px">Details</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <ul class="pagination">
        <li class="page-item">
            <div class="page-link" aria-label="Previous" (click)="previous()">
                <span aria-hidden="true">&laquo; previous</span>
            </div>
        </li>

        <li class="page-item">
            <div class="page-link" aria-label="Next" (click)="next()">
                <span aria-hidden="true">next &raquo;</span>
            </div>
        </li>
    </ul>
    <p class="m-2">page size</p>
    <input type="number" class="form-control col-sm-2 m-2" required [(ngModel)]="pageSize">
    <button (click)="setPageSize()" class="btn btn-info m-2" style="margin-left: 10px">set</button>
</div>